* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  .card-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 800px;
    cursor: pointer;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        // left: calc(50% + #{$i} * 5px);
        z-index: 10 - $i;
      }
    }

    .card {
      display: inline-grid;
      transform: rotateY(0deg);
      transform-style: preserve-3d;
      transition: transform 0.3s;
      user-select: none;

      &.rotated {
        transform: rotateY(180deg);
      }

      .card-cont {
        grid-area: 1 / 1 / 1 / 1;
        width: 280px;
        border-radius: 8px;
        overflow: hidden;
        backface-visibility: hidden; // 돌렸을때 뒷면 숨기기

        &.card-back {
          background: salmon;
          transform: rotateY(180deg); // 뒷면이기 때문에 회전시켜놓기
          background: url(../../images/card_back0.png) no-repeat center/cover;
          border: 1px solid #ccc;
        }
      }

      // &[data-card="n"] {}
      @for $i from 0 through 8 {
        &[data-card="#{$i}"] .card-back {
          background-image: url(../../images/card_back#{$i}.png);
        }
      }

      img {
        width: 100%;
      }
    }
  }
}